@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-dark text-slate-100 font-display;
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(to right, #ffffff, #a0bba0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .neon-text {
    text-shadow: 0 0 14px rgba(0, 255, 138, 0.7);
  }

  .grid-bg {
    background-size: 40px 40px;
    background-image: linear-gradient(
        to right,
        rgba(31, 36, 43, 0.3) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(31, 36, 43, 0.3) 1px, transparent 1px);
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


